/* ProductPage.css */
.product-page {
    max-width: 1200px;
    margin: 2em auto;
    padding: 20px;
    text-align: center;
    background-color: #1e1e1e; /* Mörk bakgrund */
    color: #fff; /* Vit text */
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .loading {
    font-size: 1.5rem;
    color: #ffcc00;
  }
  
  /* Grid-layout för produkterna */
  .product-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  /* Stil för produktkort */
  .product-card {
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgb(255 255 255 / 10%);
    transition: transform 0.3s ease;
    text-align: left;
    max-width: 500px;
    width: 100%;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .category {
    font-style: italic;
    color: #aaa;
  }
  
  .description {
    font-size: 0.9rem;
    color: #ddd;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
  }

  .errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

  .successMessage {
    color: rgb(0, 255, 0);
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
  .btn {
    padding: 16px 28px;
    border-radius: 9px;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    margin-right: 1em;
}

.edit-form {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #222;
  color: white;
}

.deleteBtn, .cancelBtn {
  background: red;
}
.deleteBtn, .cancelBtn:hover {
  box-shadow: 7px 5px 56px -14px red;
}
.deleteBtn, .cancelBtn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px red;
}

.updateBtn {
  background: rgb(5, 215, 5);
}
.updateBtn:hover {
  box-shadow: 7px 5px 56px -14px rgb(5, 215, 5);
}
.updateBtn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px rgb(5, 215, 5);
}

.saveBtn {
  background: #2137fc;
}
.saveBtn:hover {
  box-shadow: 7px 5px 56px -14px #2137fc;
}
.saveBtn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #2137fc;
}